html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: #000;
}

.game-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #ffff;
  /* padding: 50px 20px 50px 20px;
  margin: 150px 400px;  Bad for responsiveness*/
  height: 450px;
  width: 40vw;    /* Good for responsiveness */
  margin: 80px auto;
  border-radius: 10px;
}

.game-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
}

.game-title {
  color: #2B283A;
  font-weight: 700;
  font-size: 5.0rem;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.03em;
  font-family: Karla;
}

.game-text {
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  color: #4A4E74;
  width: 30vw;
  margin: auto;
  font-family: Inter;
}

.game-dice {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Five columns */
  grid-template-rows: repeat(2, 1fr); /* Two rows */
  grid-gap: 20px; /* spaces between boxes */
  /* justify-content: center; Center horizontally */
  /* align-items: center; Center vertically */
  padding-left: 30px;
  padding-right: 30px;
}

.die-not-held {
  background: #fff;
  box-shadow: 2px 10px 5px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Karla';
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  padding: 10px 5px;
  color: #2B283A;
  cursor: pointer;
}

.die-held {
  background: #59E391;
  box-shadow: 2px 10px 5px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Karla';
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  padding: 10px 5px;
  color: #2B283A;
  cursor: pointer;
}

.game-button {
  display: flex;
  align-content: center;
  padding: 10px 30px;
  font-family: Karla;
  background-color: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  color: #ffff;
  font-weight: 600;
  font-size: 2.0rem;
  margin: auto;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .game-container {
    margin: 0 0;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
  }

  .game-text {
    font-size: 2.0rem;
    width: 100%;
  }
}

@media screen and (min-width: 750px) and (max-width: 900px) {
  .game-container {
    margin: 0 0;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
  }

  .game-text {
    font-size: 2.0rem;
    width: 50%;
  }
}

